.styles-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f1f1f1;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

  .styles-div h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
  }

  .styles-div img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 20px;
  }