.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    background-size: cover;
    background-position: center;
  }
  
  form {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url('https://wallpapers.com/images/featured/rick-and-morty-8rc57d4ds44gqzau.webp');
    background-size: cover;
    background-position: center;
    
  }
  
  form div {
    margin-bottom: 10px;
    
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #45a049;
  }
  