.wrapperSearch {
    background-color: rgba(0, 110, 255, 0.8);
    width:auto;
    
    border: none;
    margin-right: 30px;
    
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  
  .input {
    border: none;
    flex-grow: 1;
    padding: 5px;
    margin-left: 3%;
  }
  
  .btn {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    width: 30px;
    height: 30px;
    margin-right: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
  